/* normal css */
.edit-product-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 35px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-family: sans-serif;
}

.edit-product-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-label,
.product-image-upload {
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 8px;
    font-weight: 600;
}

input[type="text"],
textarea,
.edit-product,
.cancel-product {
    width: 90%;
    max-width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"] {
    background-color: white;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
}

.edit-product {
    color: white;
    background-color: rgb(52, 52, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-product:hover {
    background-color: rgb(30, 30, 200);
}

.cancel-product {
    background-color: #ccc;
    color: #333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-product:hover {
    background-color: #999;
}

input[type="file"] {
    display: block;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.current-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 20px;
}

.product-preview {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

.image-filename {
    font-size: 14px;
    color: #333;
}

/* responsive styles */
@media (max-width: 600px) {
    .edit-product-container {
        width: 80%;
    }
}
