.dashboardcontainer {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.overviewcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    justify-items: center;
    background-color: #bebebea6;
    padding: 30px 20px;
    border-radius: 20px;
}

.dashboard-card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 160px;
    height: 130px;
    text-align: center;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.dashboard-card p {
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card:hover {
    transform: translateY(-10px) scale(1.05);
    border: 2px solid #000;
    box-shadow: 0 12px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.15);
    background: #f9f9f9;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card-title img {
    width: 40px;
    height: 40px;
}

.card-title h2 {
    font-size: 18px;
    margin: 0;
}

.top-products:hover { border-color: #28a745; }
.low-stock-items:hover { border-color: #dc3545; }
.recent-orders:hover { border-color: #ffc107; }
.top-customers:hover { border-color: #17a2b8; }
.top-suppliers:hover { border-color: #6f42c1; }
